body {
    /* background-color:lightblue; */
    background-image: url(assets/cool-background.png)
}
img {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}
.white-bg {
    background-color: white;
}
#vis {
    margin-left: 40px;
    margin-right: 0px;
}
#sum {
    margin-left: 40px;
    margin-bottom: 20px;
    height: 600px;
}
#sumpic {
    float: left;
}
p {
    font-size: 20px;
}
h1, h2, h4 {
    padding-top: 25px;
    padding-left: 15px;
}
h3 {
    text-align: center;
}
#selected {
    border-style: solid;
    border-color: coral;
}
#picbox {
    position: relative;
    left: 50px;
}
.shorter {
    height: 400px;
}
.blueborder {
    border-style: solid;
    border-color: #158CBA;
}
#smscrn {
    visibility: hidden;
}
@media (max-width: 990px) {
    #smscrn {
        visibility: visible;
    }
    #smscrn img{
        margin-right: 0px;
        margin-left: 0px;
    }
    #lgscrn {
        display: none;
    }
    .shorter {
        height: 300px;
    }
}